<!DOCTYPE html>
<html>
    <head>
	<title>Minimarket | {% block title %}{% endblock %}</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
	<nav class="relative flex items-center h-16 bg-gray-100 py-4">
	    <div class="flex justify-center items-center pl-2">
		<a href="{% url 'categories' %}" class="text-3xl font-bold text-yellow-500">
		    <span class="material-symbols-outlined align-middle font-semibold">
			storefront
		    </span>
		    Minimarket
		</a>
	    </div>
	    <div class="flex items-center ml-auto space-x-4 pr-2">
		<a href="{% url 'suppliers' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
		    Suppliers
		</a>
		<a href="{% url 'categories' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
		    Categories
		</a>
		{% if request.user.id %}
		<a href="{% url 'logout' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
		    Logout
		</a>
		<a href="{% url 'account' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
		    {{request.user}}
		    <span class="material-symbols-outlined align-middle">
			account_circle
		    </span>
		</a>
		{% else %}
		<a href="{% url 'register' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
		    Register
		</a>
		<a href="{% url 'login' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
		    Login
		</a>
		{% endif %}
	    </div>
	</nav>
	{% block content %}
	{% endblock %}
    </body>
</html>
