{% extends 'base.html' %}

{% block title %}{{product.name}}{% endblock %}



{% block content %}
<div class="container mx-auto p-8">
    <div class="bg-white p-6 rounded-lg shadow-lg">
	<div>
	    <h1 class="text-2xl font-bold mb-4">Product Details</h1>
	    <p class="text-lg"><strong>Name:</strong> {{ product.name }}</p>
	    <p class="text-lg"><strong>Price:</strong> ${{ product.price }}</p>
	    <p class="text-lg"><strong>Category:</strong> {{ product.category.name }}</p>
	    {% if request.user == product.owner %}
	    <div class="flex content-end gap-x-3">
		<form action="{% url 'delete_product' product.id %}" method="post">
		    <button type="submit" class="p-2 bg-gray-400 text-white rounded hover:bg-red-600 transition duration-300 ease-in-out">
			{% csrf_token %}
			Delete
		    </button>
		</form>
		<a href="{%url 'update_product' product.id %}">
		    <button class="p-2 bg-gray-400 text-white rounded hover:bg-yellow-600 transition duration-300 ease-in-out">
			Update
		    </button>
		</a>
	    </div>
	    {% endif %}
	</div>
	
	<div class="mt-6 mb-6">
	    <h2 class="text-xl font-semibold mb-2">Suppliers</h2>
	    {% if product.supplier %}
	    <ul class="list-disc list-inside">
		<li class="text-lg">
		    <a href="{% url 'supplier' product.supplier.id %}">{{ product.supplier.name }}</a>
		</li>
	    </ul>
	    {% else %}
	    <p class="text-lg text-gray-500">No suppliers</p>
	    {% endif %}
	</div>

	<a href="{% url 'create_review' %}?product={{product.id}}" class="p-2 bg-gray-400 text-white rounded hover:bg-green-600 transition duration-300 ease-in-out">
	    Leave a review
	</a>
	<div class="mt-6">
	    {% if product.reviews %}
	    <h2 class="text-xl font-semibold mb-2">Reviews</h2>
	    <ul class="space-y-4">
		{% for review in product.reviews.all %}
		<li class="p-4 bg-gray-50 rounded-lg">
		    <p class="text-lg font-bold">{{ review.name }}</p>
		    <p class="text-sm text-yellow-500">Rating: {{ review.rating }}</p>
		    <p class="text-gray-700">{{ review.text }}</p>
		</li>
		{% endfor %}
	    </ul>
	    {% else %}
	    <p class="text-lg text-gray-500">No reviews</p>
	    {% endif %}
	</div>
    </div>
</div>
{% endblock %}
