{% extends 'forms/base_form.html' %}

{% block form %}
{{form.errors}}
{% for field in form %}
<div class="mb-4">
  <label for="{{ field.id_for_label }}" class="block text-gray-700">{{ field.label_tag }}</label>
  <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
  {% for error in field.errors %}
  <p class="text-red-500 text-xs italic">{{ error }}</p>
  {% endfor %}
</div>
{% endfor %}
<input type="submit" value="Register">
{% endblock %}
